/* /CollectionFadeInOutComponent/CollectionFadeInOut.razor.rz.scp.css */
.item-visible[b-g3szkz1l6z] {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.item-hidden[b-g3szkz1l6z] {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}
